absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
altair==5.5.0
analytics-python==1.4.post1
aniso8601==10.0.0
annotated-types==0.7.0
anyio==4.8.0
apispec==6.6.1
apispec-webframeworks==1.1.0
arrow==1.3.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
Automat==24.8.1
backoff==1.10.0
bcrypt==4.3.0
bidict==0.23.1
binaryornot==0.4.4
blinker==1.9.0
boto3==1.34.113
botocore==1.34.162
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
constantly==23.10.4
contourpy==1.3.0
cookiecutter==2.6.0
cryptography==44.0.2
cycler==0.12.1
deepdiff==7.0.1
dnspython==2.7.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
fastapi==0.115.11
ffmpy==0.5.0
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
Flask-RESTful==0.3.10
Flask-SocketIO==5.4.1
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
gast==0.6.0
gevent==24.11.1
gevent-websocket==0.10.1
gitdb==4.0.12
gitignore_parser==0.1.11
GitPython==3.1.44
google-auth==2.38.0
google-genai==1.5.0
google-pasta==0.2.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.1.1
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.9.0
kiwisolver==1.4.7
kthread==0.2.3
libclang==18.1.1
linkify-it-py==2.0.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.4
mdit-py-plugins==0.4.2
mdurl==0.1.2
ml_dtypes==0.5.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
namex==0.0.8
narwhals==1.30.0
networkx==3.2.1
numpy==2.0.2
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.14.1
ordered-set==4.1.0
orjson==3.10.15
packaging==24.2
pandas==2.2.2
paramiko==3.5.1
passlib==1.7.4
pillow==10.4.0
propcache==0.3.0
protobuf==5.29.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.0b1
pydantic_core==2.31.1
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pymongo==4.7.2
PyNaCl==1.5.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-magic==0.4.27
python-multipart==0.0.20
python-slugify==8.0.4
python-socketio==5.12.1
pytz==2024.1
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
ruff==0.11.0
s3transfer==0.10.4
safetensors==0.5.3
semantic-version==2.10.0
shellingham==1.5.4
simple-websocket==1.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.30
starlette==0.46.1
streamlit==1.43.2
sympy==1.13.1
taipy==4.0.2
taipy-common==4.0.2
taipy-core==4.0.2
taipy-gui==4.0.2
taipy-rest==4.0.2
taipy-templates==4.0.2
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
text-unidecode==1.3
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.49.0
Twisted==24.7.0
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
uc-micro-py==1.0.3
urllib3==2.3.0
uvicorn==0.34.0
watchdog==4.0.1
websockets==12.0
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
